doctype html
html
 head
   title Ali Hassan First Puf of ever 
   link(rel="stylesheet", href="css/style.css")
   link(rel="shortcut icon", href="img/favicon.png", type="image/x-icon")

 body 
   h1 this is the first heading in the body 
   p Standadrd HTML is also working as pug if you want to write its working
   h3 Know we are going to bind variables into the pug files there 
   h2= tour 
   h3= guide
   h2 we are going using the JAVASCRIPT file in the pug file
   h3= guide.toUpperCase()
   h4=12+234
   - const x=4;
   h2= x*3
   h3 Kasa Laga Jani aya maza
   h2 interpolations in the pug file like ES6 in js 
   h3 Helllo ali wa are x is = #{x}





